<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=f, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form with MongoDB</title>
</head>
<body>
    <div class="container">
        <div class="my_form">
          <form class="" action="/submit" method="post">
            <p>Your Name: <input type="text" name="name" value=""></p>
            <p>Dojo Location:
              <select class="" name="location">
                <option value="Tulsa">Tulsa</option>
                <option value="Seattle">Seattle</option>
                <option value="Burbank">Burbank</option>
                <option value="Dallas">Dallas</option>
                <option value="Chicago">Chicago</option>
                <option value="DC">DC</option>
              </select>
            </p>
            <p>Language:
              <select class="" name="language">
                <option value="JavaScript">JavaScript</option>
                <option value="Ruby">Ruby</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="PHP">PHP</option>
                <option value="C#">C#</option>
                <option value="Swift">Swift</option>
              </select>
            </p>
            <p>Comment (optional)</p>
            <textarea name="comment" rows="5" cols="40"></textarea>
            <p><input type="submit" name="" value="Submit"></p>
          </form>
        </div>
      </div><!-- end_of_container -->
</body>
</html>